body {
  background-color: black;
  text-align: center;
}
h1 {
  color: white;
  Text-align: center;
  letter-spacing: 5px;
}
h2 {
  color: white;
  text-align: center;
  font-family: cursive;
  letter-spacing: 2px
}
h3 {
  color: white;
  Text-align: left;
}
#line2 {
  color: cyan;
  text-shadow: -2px 2px red;
  letter-spacing: 1px
}
a {
  font-size: 30px;
  color: floralwhite;
  background-color: #dc0606;
  border-style: solid;
  border-color: beige;
  border-radius: 3px;
  padding: 2px;
  text-decoration: none;
}
#You_are_here {
  background-color: cornflowerblue
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fd0404;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
